DB_PASSWORD=MySecr3tPassWord@as2
DB_NAME=ProjectDB
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=eserwnfjndfDlksdnlnenLNDSNlNDldnlNDL234ou4903u84894572048209u42hi34jn2j34bj23n423423i420394